{"openapi":"3.0.3","info":{"title":"IVCAP","description":"\n**IVCAP** is for **service providers** to **offer** analytics **services**\nand for **consumers** to **order** customised **products** produced by said services.\n\n### Typical Workflow\n\n1. Obtain an token from the ID Providers listed in the document returned\nby [/1/authinfo.yaml](/1/authinfo.yaml). The token needs to be added\nas a bearer token via the\n\u003ccode\u003eAuthorization\u003c/code\u003e header to every request to this service.\n1. \u003ca href=\"#get-/1/services\"\u003eList\u003c/a\u003e all available service.\n1. Select appropriate service and retrieve details, like parameters via\n\u003ca href=\"#get-/1/services/-id-\"\u003eRead Service\u003c/a\u003e.\n1. Create the appropriate json request and POST it to\n\u003ca href=\"#post-/1/orders\"\u003eCreate Order\u003c/a\u003e. (see the example in the\nservice description.)\n1. The reply from the above POST operation contains a link (\u003ccode\u003elinks/self\u003c/code\u003e) to the\nnewly create order record accessible via \u003ca href=\"#get-/1/orders/-id-\"\u003eRead Order\u003c/a\u003e.\n1. Progress of the order fulfilment can be tracked via repeated calls to\n\u003ca href=\"#get-/1/orders/-id-\"\u003eRead Order\u003c/a\u003e and the returned \u003ccode\u003estatus\u003c/code\u003e.\n1. Any information products created in the context of an order will be listed under \u003ccode\u003eproducs\u003c/code\u003e\nwhich also include a link to the respective \u003ca href=\"#get-/1/artifacts/-id-\"\u003eRead Artifact\u003c/a\u003e.\n1. The \u003ca href=\"#get-/1/artifacts/-id-\"\u003eRead Artifact\u003c/a\u003e service will return more details for\neach artifact, including a \u003ccode\u003edata\u003c/code\u003e link through which the artifact content can be downloaded. (The\ndownload link is also included in the \u003ccode\u003eproducts\u003c/code\u003e list returned by\nthe \u003ca href=\"#get-/1/orders/-id-\"\u003eRead Order\u003c/a\u003e service ).\n\nPlease note that all schemas in this API are following the [{json:api}](https://jsonapi.org/) specs\nwherever appropriate.\n\n### High-level Architecture\n\nOn receiving an order through this **API**, the internal *Order Dispatcher* is\ncreating a *workflow*, dispatching that to the\n[Argo workflow engine](https://argoproj.github.io/argo-workflows/)\nand create appropriate records in [Magda](https://magda.io/).\nAs the execution of the workflow progresses, appropriate updates are posted to the order record in Magda,\nsuch as data accessed or produced. In addition, any information products created will be\nstored via [Minio](https://min.io/) in a deployment specific object store\nand made accessible through the *Artifact* service.\n\t","version":"0.48"},"servers":[{"url":"https://develop.ivcap.net","description":"This endpoint hosts all the IVCAP services."}],"paths":{"/1/artifacts":{"get":{"tags":["artifact"],"summary":"list artifact","description":"list artifacts","operationId":"artifact#list","parameters":[{"name":"limit","in":"query","description":"The 'limit' query option sets the maximum number of items\n\t\t\tto be included in the result.","allowEmptyValue":true,"schema":{"type":"integer","description":"The 'limit' query option sets the maximum number of items\n\t\t\tto be included in the result.","default":10,"example":10,"format":"int64","minimum":1,"maximum":50},"example":10},{"name":"page","in":"query","description":"The content of 'page' is returned in the 'links' part of a previous query and\n\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","allowEmptyValue":true,"schema":{"type":"string","description":"The content of 'page' is returned in the 'links' part of a previous query and\n\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","example":"gdsgQwhdgd"},"example":"gdsgQwhdgd"},{"name":"filter","in":"query","description":"The 'filter' system query option allows clients to filter a collection of\n\t\t\t\tresources that are addressed by a request URL. The expression specified with 'filter'\n\t\t\t\tis evaluated for each resource in the collection, and only items where the expression\n\t\t\t\tevaluates to true are included in the response.","allowEmptyValue":true,"schema":{"type":"string","description":"The 'filter' system query option allows clients to filter a collection of\n\t\t\t\tresources that are addressed by a request URL. The expression specified with 'filter'\n\t\t\t\tis evaluated for each resource in the collection, and only items where the expression\n\t\t\t\tevaluates to true are included in the response.","example":"name ~= 'Scott%'"},"example":"name ~= 'Scott%'"},{"name":"order-by","in":"query","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\tproperty EndsAt in descending order.","allowEmptyValue":true,"schema":{"type":"string","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\tproperty EndsAt in descending order.","example":"orderby=EndsAt"},"example":"orderby=EndsAt"},{"name":"order-desc","in":"query","description":"When set order result in descending order. Ascending order is the lt.","allowEmptyValue":true,"schema":{"type":"boolean","description":"When set order result in descending order. Ascending order is the lt.","default":true,"example":false},"example":false},{"name":"at-time","in":"query","description":"Return the state of the respective resources at that time [now]","allowEmptyValue":true,"schema":{"type":"string","description":"Return the state of the respective resources at that time [now]","example":"1996-12-19T16:39:57-08:00","format":"date-time"},"example":"1996-12-19T16:39:57-08:00"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactListRT"},"example":{"at-time":"1996-12-19T16:39:57-08:00","items":[{"created-at":"1996-12-19T16:39:57-08:00","href":"https://api.ivcap.net/1/orders/...","id":"urn:ivcap:artifact:123e4567-e89b-12d3-a456-426614174000","mime-type":"image/jpeg","name":"Fire risk for Lot2","size":19000,"status":"ready"},{"created-at":"1996-12-19T16:39:57-08:00","href":"https://api.ivcap.net/1/orders/...","id":"urn:ivcap:artifact:123e4567-e89b-12d3-a456-426614174000","mime-type":"image/jpeg","name":"Fire risk for Lot2","size":19000,"status":"ready"}],"links":[{"href":"https://api.ivcap.net/1/....","rel":"self","type":"application/json"},{"href":"https://api.ivcap.net/1/....","rel":"first","type":"application/json"},{"href":"https://api.ivcap.net/1/....","rel":"next","type":"application/json"},{"href":"https://api.ivcap.net/1/openapi/openapi3.json#/components/schemas/user","rel":"describedBy","type":"application/openapi3+json"}]}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]},"post":{"tags":["artifact"],"summary":"upload artifact","description":"Upload content and create a artifacts.","operationId":"artifact#upload","parameters":[{"name":"Content-Type","in":"header","description":"Content-Type header, MUST define type of uploaded content.","allowEmptyValue":true,"schema":{"type":"string","description":"Content-Type header, MUST define type of uploaded content.","example":"application/x-netcdf4"},"example":"application/x-netcdf4"},{"name":"Content-Encoding","in":"header","description":"Content-Encoding header, MAY define encoding of content.","allowEmptyValue":true,"schema":{"type":"string","description":"Content-Encoding header, MAY define encoding of content.","example":"gzip"},"example":"gzip"},{"name":"Content-Length","in":"header","description":"Content-Length header, MAY define size of expected upload.","allowEmptyValue":true,"schema":{"type":"integer","description":"Content-Length header, MAY define size of expected upload.","example":2376,"format":"int64"},"example":2376},{"name":"X-Name","in":"header","description":"X-Name header, MAY define a more human friendly name. Reusing a name will NOT override an existing artifact with the same name","allowEmptyValue":true,"schema":{"type":"string","description":"X-Name header, MAY define a more human friendly name. Reusing a name will NOT override an existing artifact with the same name","example":"sample-12"},"example":"sample-12"},{"name":"X-Collection","in":"header","description":"X-Collection header, MAY define an collection name as a simple way of grouping artifacts","allowEmptyValue":true,"schema":{"type":"string","description":"X-Collection header, MAY define an collection name as a simple way of grouping artifacts","example":"urn:projectX:collection:field-trip-jun-22"},"example":"urn:projectX:collection:field-trip-jun-22"},{"name":"X-Policy","in":"header","description":"X-Policy header, MAY define a specific policy to control access to this artifact","allowEmptyValue":true,"schema":{"type":"string","description":"X-Policy header, MAY define a specific policy to control access to this artifact","example":"urn:ivcap:policy:ivcap.open.metadata"},"example":"urn:ivcap:policy:ivcap.open.metadata"},{"name":"X-Content-Type","in":"header","description":"X-Content-Type header, used for initial, empty content creation requests.","allowEmptyValue":true,"schema":{"type":"string","description":"X-Content-Type header, used for initial, empty content creation requests.","example":"application/x-netcdf4"},"example":"application/x-netcdf4"},{"name":"X-Content-Length","in":"header","description":"X-Content-Length header, used for initial, empty content creation requests.","allowEmptyValue":true,"schema":{"type":"integer","description":"X-Content-Length header, used for initial, empty content creation requests.","example":2376,"format":"int64"},"example":2376},{"name":"Upload-Length","in":"header","description":"Upload-Length header, sets the expected content size part of the TUS protocol.","allowEmptyValue":true,"schema":{"type":"integer","description":"Upload-Length header, sets the expected content size part of the TUS protocol.","example":2376,"format":"int64"},"example":2376},{"name":"Tus-Resumable","in":"header","description":"Tus-Resumable header, specifies TUS protocol version.","allowEmptyValue":true,"schema":{"type":"string","description":"Tus-Resumable header, specifies TUS protocol version.","example":"1.0.0"},"example":"1.0.0"}],"responses":{"201":{"description":"Created response.","headers":{"Location":{"description":"link back to record","schema":{"type":"string","description":"link back to record","example":"Et eum facilis atque sunt culpa voluptas."},"example":"Soluta ad nesciunt eum voluptas."},"Tus-Resumable":{"description":"indicate version of TUS supported","schema":{"type":"string","description":"indicate version of TUS supported","example":"Et aliquid ut est fugit corporis velit."},"example":"Qui accusamus et quo."},"Upload-Offset":{"description":"TUS offset for partially uploaded content","schema":{"type":"integer","description":"TUS offset for partially uploaded content","example":1938828284313904692,"format":"int64"},"example":910590769309362346}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactUploadRT2"},"example":{"account":"urn:ivcap:account:123e4567-e89b-12d3-a456-426614174000","cache-of":"urn:ivcap:artifact:00000","created-at":"1996-12-19T16:39:57-08:00","data-href":"https://api.ivcap.net/1/artifacts/.../blob","etag":"00000-0000123","id":"urn:ivcap:Artifact ID:123e4567-e89b-12d3-a456-426614174000","last-modified-at":"1996-12-19T16:39:57-08:00","links":[{"href":"https://api.ivcap.net/1/....","rel":"self","type":"application/json"},{"href":"https://api.ivcap.net/1/openapi/openapi3.json#/components/schemas/user","rel":"describedBy","type":"application/json"}],"mime-type":"application/json","name":"Fire risk per LGA","policy":"urn:ivcap:policy:123e4567-e89b-12d3-a456-426614174000","size":3737007064466163395,"status":"unknown"}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:write"]}]}},"/1/artifacts/{id}":{"get":{"tags":["artifact"],"summary":"read artifact","description":"Show artifacts by ID","operationId":"artifact#read","parameters":[{"name":"id","in":"path","description":"ID of artifacts to show","required":true,"schema":{"type":"string","description":"ID of artifacts to show","example":"urn:ivcap:artifacts"},"example":"urn:ivcap:artifacts"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtifactStatusRT"},"example":{"account":"urn:ivcap:account:123e4567-e89b-12d3-a456-426614174000","cache-of":"urn:ivcap:artifact:00000","created-at":"1996-12-19T16:39:57-08:00","data-href":"https://api.ivcap.net/1/artifacts/.../blob","etag":"00000-0000123","id":"urn:ivcap:Artifact ID:123e4567-e89b-12d3-a456-426614174000","last-modified-at":"1996-12-19T16:39:57-08:00","links":[{"href":"https://api.ivcap.net/1/....","rel":"self","type":"application/json"},{"href":"https://api.ivcap.net/1/openapi/openapi3.json#/components/schemas/user","rel":"describedBy","type":"application/json"}],"mime-type":"application/json","name":"Fire risk per LGA","policy":"urn:ivcap:policy:123e4567-e89b-12d3-a456-426614174000","size":1200628203146102850,"status":"unknown"}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"404":{"description":"not-found: Resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundT"},"example":{"id":"cayp:type:123e4567-e89b-12d3-a456-426614174000","message":"Resource 123...00 not found"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]}},"/1/aspects":{"get":{"tags":["aspect"],"summary":"list aspect","description":"Return a list of aspect aspects.","operationId":"aspect#list","parameters":[{"name":"entity","in":"query","description":"Optional entity for which to request aspects","allowEmptyValue":true,"schema":{"type":"string","description":"Optional entity for which to request aspects","example":"urn:blue:image.collA#12","format":"uri"},"example":"urn:blue:image.collA#12"},{"name":"schema","in":"query","description":"Schema prefix using '%' as wildcard indicator","allowEmptyValue":true,"schema":{"type":"string","description":"Schema prefix using '%' as wildcard indicator","example":"urn:blue:schema:image%"},"example":"urn:blue:schema:image%"},{"name":"content-path","in":"query","description":"To learn more about the supported format, see\n\t\t\t\t\thttps://www.postgresql.org/docs/current/datatype-json.html#DATATYPE-JSONPATH","allowEmptyValue":true,"schema":{"type":"string","description":"To learn more about the supported format, see\n\t\t\t\t\thttps://www.postgresql.org/docs/current/datatype-json.html#DATATYPE-JSONPATH","example":"$.images[*] ? (@.size \u003e 10000)"},"example":"$.images[*] ? (@.size \u003e 10000)"},{"name":"at-time","in":"query","description":"Return aspect which where valid at that time [now]","allowEmptyValue":true,"schema":{"type":"string","description":"Return aspect which where valid at that time [now]","example":"1996-12-19T16:39:57-08:00","format":"date-time"},"example":"1996-12-19T16:39:57-08:00"},{"name":"limit","in":"query","description":"The 'limit' system query option requests the number of items in the queried\n\t\t\t\tcollection to be included in the result.","allowEmptyValue":true,"schema":{"type":"integer","description":"The 'limit' system query option requests the number of items in the queried\n\t\t\t\tcollection to be included in the result.","default":10,"example":10,"format":"int64","minimum":1,"maximum":50},"example":10},{"name":"filter","in":"query","description":"The 'filter' system query option allows clients to filter a collection of\n\t\t\t\tresources that are addressed by a request URL. The expression specified with 'filter'\n\t\t\t\tis evaluated for each resource in the collection, and only items where the expression\n\t\t\t\tevaluates to true are included in the response.","allowEmptyValue":true,"schema":{"type":"string","description":"The 'filter' system query option allows clients to filter a collection of\n\t\t\t\tresources that are addressed by a request URL. The expression specified with 'filter'\n\t\t\t\tis evaluated for each resource in the collection, and only items where the expression\n\t\t\t\tevaluates to true are included in the response.","default":"","example":"FirstName eq 'Scott'"},"example":"FirstName eq 'Scott'"},{"name":"order-by","in":"query","description":"Optional comma-separated list of attributes to sort the list by.\n* entity\n* schema\n* content\n* policy\n* account\n* created_by\n* retracted_by\n* replaces\n* valid_from\n* valid_to\n","allowEmptyValue":true,"schema":{"type":"string","description":"Optional comma-separated list of attributes to sort the list by.\n* entity\n* schema\n* content\n* policy\n* account\n* created_by\n* retracted_by\n* replaces\n* valid_from\n* valid_to\n","default":"valid_from","example":"entity,created-at"},"example":"entity,created-at"},{"name":"order-direction","in":"query","description":"Set the sort direction 'ASC', 'DESC' for each order-by element.","allowEmptyValue":true,"schema":{"type":"string","description":"Set the sort direction 'ASC', 'DESC' for each order-by element.","default":"DESC","example":"desc"},"example":"desc"},{"name":"include-content","in":"query","description":"When set, also include aspect content in list.","allowEmptyValue":true,"schema":{"type":"boolean","description":"When set, also include aspect content in list.","example":true},"example":true},{"name":"page","in":"query","description":"The content of '$page' is returned in the 'links' part of a previous query and\n\t\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","allowEmptyValue":true,"schema":{"type":"string","description":"The content of '$page' is returned in the 'links' part of a previous query and\n\t\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","example":"gdsgQwhdgd"},"example":"gdsgQwhdgd"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AspectListRT"},"example":{"aspect-path":"Quae provident explicabo aut ut nihil.","at-time":"1996-12-19T16:39:57-08:00","entity":"urn:blue:image.collA.12","items":[{"content":"{...}","content-type":"application/json","entity":"urn:blue:transect.1","id":"urn:ivcap:aspect:123e4567-e89b-12d3-a456-426614174000","schema":"urn:blue:schema.image","valid-from":"1996-12-19T16:39:57-08:00","valid-to":"1996-12-19T16:39:57-08:00"},{"content":"{...}","content-type":"application/json","entity":"urn:blue:transect.1","id":"urn:ivcap:aspect:123e4567-e89b-12d3-a456-426614174000","schema":"urn:blue:schema.image","valid-from":"1996-12-19T16:39:57-08:00","valid-to":"1996-12-19T16:39:57-08:00"},{"content":"{...}","content-type":"application/json","entity":"urn:blue:transect.1","id":"urn:ivcap:aspect:123e4567-e89b-12d3-a456-426614174000","schema":"urn:blue:schema.image","valid-from":"1996-12-19T16:39:57-08:00","valid-to":"1996-12-19T16:39:57-08:00"},{"content":"{...}","content-type":"application/json","entity":"urn:blue:transect.1","id":"urn:ivcap:aspect:123e4567-e89b-12d3-a456-426614174000","schema":"urn:blue:schema.image","valid-from":"1996-12-19T16:39:57-08:00","valid-to":"1996-12-19T16:39:57-08:00"}],"links":[{"href":"https://api.ivcap.net/1/....","rel":"self","type":"application/json"},{"href":"https://api.ivcap.net/1/....","rel":"first","type":"application/json"},{"href":"https://api.ivcap.net/1/....","rel":"next","type":"application/json"},{"href":"https://api.ivcap.net/1/openapi/openapi3.json#/components/schemas/user","rel":"describedBy","type":"application/openapi3+json"}],"schema":"urn:blue:image,urn:blue:location"}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"415":{"description":"unsupported-content-type: Format not supported by this method on the target resource","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnsupportedContentTypeT"},"example":{"message":"cannot handle 'application/foo'"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]},"post":{"tags":["aspect"],"summary":"create aspect","description":"Attach new aspect to an entity.","operationId":"aspect#create","parameters":[{"name":"entity","in":"query","description":"Entity to which attach aspect","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"Entity to which attach aspect","example":"urn:some_ns:entity#123"},"example":"urn:some_ns:entity#123"},{"name":"schema","in":"query","description":"Schema of the aspect in payload","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"Schema of the aspect in payload","example":"urn:some_ns:schema:some_schema.1"},"example":"urn:some_ns:schema:some_schema.1"},{"name":"policy","in":"query","description":"Policy guiding visibility and actions performed","allowEmptyValue":true,"schema":{"type":"string","description":"Policy guiding visibility and actions performed","example":"urn:ivcap:policy:some_policy.1"},"example":"urn:ivcap:policy:some_policy.1"},{"name":"Content-Type","in":"header","description":"Content-Type header, MUST be of application/json.","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"Content-Type header, MUST be of application/json.","example":"application/json"},"example":"application/json"}],"requestBody":{"description":"Aspect content","required":true,"content":{"application/json":{"schema":{"description":"Aspect content","example":"{\"$schema\": ...}"},"example":"{\"$schema\": ...}"}}},"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AspectIDRT"},"example":{"id":"urn:ivcap:aspect:123e4567-e89b-12d3-a456-426614174000"}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:write"]}]},"put":{"tags":["aspect"],"summary":"update aspect","description":"A convenience method which will create a new aspect, but will also\n\t\tretract a potentially existing aspect for the same entity with the same schema.","operationId":"aspect#update","parameters":[{"name":"entity","in":"query","description":"Entity to which attach aspect","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"Entity to which attach aspect","example":"urn:some_ns:schema:some_schema.1"},"example":"urn:some_ns:schema:some_schema.1"},{"name":"schema","in":"query","description":"Schema of aspect","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"Schema of aspect","example":"urn:url:....","format":"uri"},"example":"urn:url:...."},{"name":"policy","in":"query","description":"Policy guiding visibility and actions performed","allowEmptyValue":true,"schema":{"type":"string","description":"Policy guiding visibility and actions performed","example":"urn:ivcap:policy:some_policy.1"},"example":"urn:ivcap:policy:some_policy.1"},{"name":"Content-Type","in":"header","description":"Content-Type header, MUST be of application/json.","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"Content-Type header, MUST be of application/json.","example":"application/json"},"example":"application/json"}],"requestBody":{"description":"Aspect content","required":true,"content":{"application/json":{"schema":{"description":"Aspect content","example":"{\"$schema\": ...}"},"example":"{\"$schema\": ...}"}}},"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AspectIDRT"},"example":{"id":"urn:ivcap:aspect:123e4567-e89b-12d3-a456-426614174000"}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"424":{"description":"not-unique: Requested resource is not unique","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotUniqueResourceT"},"example":{"message":"found 3 matches."}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:write"]}]}},"/1/aspects/{id}":{"delete":{"tags":["aspect"],"summary":"retract aspect","description":"Retract a previously created statement.","operationId":"aspect#retract","parameters":[{"name":"id","in":"path","description":"Aspect ID to restract","required":true,"schema":{"type":"string","description":"Aspect ID to restract","example":"urn:ivcap:aspect#53cbb715-4ffd-4158-9e55-5d0ae69605a4","format":"uri"},"example":"urn:ivcap:aspect#53cbb715-4ffd-4158-9e55-5d0ae69605a4"}],"responses":{"204":{"description":"No Content response."},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:write"]}]},"get":{"tags":["aspect"],"summary":"read aspect","description":"Show aspects by ID","operationId":"aspect#read","parameters":[{"name":"id","in":"path","description":"ID of aspects to show","required":true,"schema":{"type":"string","description":"ID of aspects to show","example":"urn:ivcap:aspects"},"example":"urn:ivcap:aspects"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AspectRT"},"example":{"account":"urn:ivcap:account:123e4567-e89b-12d3-a456-426614174000","asserter":"urn:ivcap:principal:123e4567-e89b-12d3-a456-426614174000","content":"{...}","content-type":"application/json","entity":"urn:blue:transect.1","id":"urn:ivcap:record:123e4567-e89b-12d3-a456-426614174000","links":[{"href":"https://api.ivcap.net/1/....","rel":"self","type":"application/json"},{"href":"https://api.ivcap.net/1/openapi/openapi3.json#/components/schemas/user","rel":"describedBy","type":"application/json"}],"policy":"urn:ivcap:policy:123e4567-e89b-12d3-a456-426614174000","replaces":"urn:ivcap:aspect:123e4567-e89b-12d3-a456-426614174000","retracter":"urn:ivcap:principal:123e4567-e89b-12d3-a456-426614174000","schema":"urn:blue:schema.image","valid-from":"1996-12-19T16:39:57-08:00","valid-to":"1996-12-19T16:39:57-08:00"}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"404":{"description":"not-found: Resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundT"},"example":{"id":"cayp:type:123e4567-e89b-12d3-a456-426614174000","message":"Resource 123...00 not found"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]}},"/1/dashboards":{"get":{"tags":["dashboard"],"summary":"list dashboard","description":"list dashboards","operationId":"dashboard#list","parameters":[{"name":"limit","in":"query","description":"The 'limit' query option sets the maximum number of items\n\t\t\tto be included in the result.","allowEmptyValue":true,"schema":{"type":"integer","description":"The 'limit' query option sets the maximum number of items\n\t\t\tto be included in the result.","default":10,"example":10,"format":"int64","minimum":1,"maximum":50},"example":10},{"name":"page","in":"query","description":"The content of 'page' is returned in the 'links' part of a previous query and\n\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","allowEmptyValue":true,"schema":{"type":"string","description":"The content of 'page' is returned in the 'links' part of a previous query and\n\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","example":"gdsgQwhdgd"},"example":"gdsgQwhdgd"},{"name":"filter","in":"query","description":"The 'filter' system query option allows clients to filter a collection of\n\t\t\t\tresources that are addressed by a request URL. The expression specified with 'filter'\n\t\t\t\tis evaluated for each resource in the collection, and only items where the expression\n\t\t\t\tevaluates to true are included in the response.","allowEmptyValue":true,"schema":{"type":"string","description":"The 'filter' system query option allows clients to filter a collection of\n\t\t\t\tresources that are addressed by a request URL. The expression specified with 'filter'\n\t\t\t\tis evaluated for each resource in the collection, and only items where the expression\n\t\t\t\tevaluates to true are included in the response.","example":"name ~= 'Scott%'"},"example":"name ~= 'Scott%'"},{"name":"order-by","in":"query","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\tproperty EndsAt in descending order.","allowEmptyValue":true,"schema":{"type":"string","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\tproperty EndsAt in descending order.","example":"orderby=EndsAt"},"example":"orderby=EndsAt"},{"name":"order-desc","in":"query","description":"When set order result in descending order. Ascending order is the lt.","allowEmptyValue":true,"schema":{"type":"boolean","description":"When set order result in descending order. Ascending order is the lt.","default":true,"example":true},"example":false},{"name":"at-time","in":"query","description":"Return the state of the respective resources at that time [now]","allowEmptyValue":true,"schema":{"type":"string","description":"Return the state of the respective resources at that time [now]","example":"1996-12-19T16:39:57-08:00","format":"date-time"},"example":"1996-12-19T16:39:57-08:00"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardListRT"},"example":{"items":[{"id":3,"title":"Kubernetes Cluster Monitoring","uid":"aeawr2d4xw7pcc","url":"/d/aeawr2d4xw7pcc"},{"id":3,"title":"Kubernetes Cluster Monitoring","uid":"aeawr2d4xw7pcc","url":"/d/aeawr2d4xw7pcc"}]}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]}},"/1/metadata":{"get":{"tags":["metadata"],"summary":"list metadata","description":"Return a list of metadata records.","operationId":"metadata#list","parameters":[{"name":"entity-id","in":"query","description":"Entity for which to request metadata","allowEmptyValue":true,"schema":{"type":"string","description":"Entity for which to request metadata","example":"urn:blue:image.collA.12","format":"uri"},"example":"urn:blue:image.collA.12"},{"name":"schema","in":"query","description":"Schema prefix using '%' as wildcard indicator","allowEmptyValue":true,"schema":{"type":"string","description":"Schema prefix using '%' as wildcard indicator","example":"urn:blue:image%"},"example":"urn:blue:image%"},{"name":"aspect-path","in":"query","description":"To learn more about the supported format, see\n\t\t\t\t\thttps://www.postgresql.org/docs/current/datatype-json.html#DATATYPE-JSONPATH","allowEmptyValue":true,"schema":{"type":"string","description":"To learn more about the supported format, see\n\t\t\t\t\thttps://www.postgresql.org/docs/current/datatype-json.html#DATATYPE-JSONPATH","example":"$.images[*] ? (@.size \u003e 10000)"},"example":"$.images[*] ? (@.size \u003e 10000)"},{"name":"at-time","in":"query","description":"Return metadata which where valid at that time [now]","allowEmptyValue":true,"schema":{"type":"string","description":"Return metadata which where valid at that time [now]","example":"1996-12-19T16:39:57-08:00","format":"date-time"},"example":"1996-12-19T16:39:57-08:00"},{"name":"limit","in":"query","description":"The 'limit' system query option requests the number of items in the queried\n\t\t\t\tcollection to be included in the result.","allowEmptyValue":true,"schema":{"type":"integer","description":"The 'limit' system query option requests the number of items in the queried\n\t\t\t\tcollection to be included in the result.","default":10,"example":10,"format":"int64","minimum":1,"maximum":50},"example":10},{"name":"filter","in":"query","description":"The 'filter' system query option allows clients to filter a collection of\n\t\t\t\tresources that are addressed by a request URL. The expression specified with 'filter'\n\t\t\t\tis evaluated for each resource in the collection, and only items where the expression\n\t\t\t\tevaluates to true are included in the response.","allowEmptyValue":true,"schema":{"type":"string","description":"The 'filter' system query option allows clients to filter a collection of\n\t\t\t\tresources that are addressed by a request URL. The expression specified with 'filter'\n\t\t\t\tis evaluated for each resource in the collection, and only items where the expression\n\t\t\t\tevaluates to true are included in the response.","default":"","example":"name~='Scott'"},"example":"name~='Scott'"},{"name":"order-by","in":"query","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\t\tproperty EndsAt in descending order.","allowEmptyValue":true,"schema":{"type":"string","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\t\tproperty EndsAt in descending order.","default":"","example":"name"},"example":"name"},{"name":"order-desc","in":"query","description":"When set order result in descending order. Ascending order is the default.","allowEmptyValue":true,"schema":{"type":"boolean","description":"When set order result in descending order. Ascending order is the default.","example":true},"example":true},{"name":"include-content","in":"query","description":"When set, also include aspect content in list.","allowEmptyValue":true,"schema":{"type":"boolean","description":"When set, also include aspect content in list.","default":true,"example":true},"example":false},{"name":"page","in":"query","description":"The content of '$page' is returned in the 'links' part of a previous query and\n\t\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","allowEmptyValue":true,"schema":{"type":"string","description":"The content of '$page' is returned in the 'links' part of a previous query and\n\t\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","example":"gdsgQwhdgd"},"example":"gdsgQwhdgd"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListMetaRT"},"example":{"aspect-path":"Aut assumenda quia quis aut.","at-time":"1996-12-19T16:39:57-08:00","entity":"urn:blue:image.collA.12","items":[{"aspect":"{...}","aspect-context":"{...}","entity":"urn:blue:transect.1","id":"urn:ivcap:metadata:123e4567-e89b-12d3-a456-426614174000","schema":"urn:blue:schema.image"},{"aspect":"{...}","aspect-context":"{...}","entity":"urn:blue:transect.1","id":"urn:ivcap:metadata:123e4567-e89b-12d3-a456-426614174000","schema":"urn:blue:schema.image"},{"aspect":"{...}","aspect-context":"{...}","entity":"urn:blue:transect.1","id":"urn:ivcap:metadata:123e4567-e89b-12d3-a456-426614174000","schema":"urn:blue:schema.image"},{"aspect":"{...}","aspect-context":"{...}","entity":"urn:blue:transect.1","id":"urn:ivcap:metadata:123e4567-e89b-12d3-a456-426614174000","schema":"urn:blue:schema.image"}],"links":[{"href":"https://api.ivcap.net/1/....","rel":"self","type":"application/json"},{"href":"https://api.ivcap.net/1/....","rel":"first","type":"application/json"},{"href":"https://api.ivcap.net/1/....","rel":"next","type":"application/json"},{"href":"https://api.ivcap.net/1/openapi/openapi3.json#/components/schemas/user","rel":"describedBy","type":"application/openapi3+json"}],"schema":"urn:blue:image,urn:blue:location"}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]},"post":{"tags":["metadata"],"summary":"add metadata","description":"Attach new metadata to an entity.","operationId":"metadata#add","parameters":[{"name":"entity-id","in":"query","description":"Entity to which attach metadata","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"Entity to which attach metadata","example":"http://koelpin.com/derrick_adams","format":"uri"},"example":"http://pouros.biz/hayley"},{"name":"schema","in":"query","description":"Schema of metadata","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"Schema of metadata","example":"http://haagsmith.com/jerrold","format":"uri"},"example":"http://dibbertsteuber.net/dario_dooley"},{"name":"policy-id","in":"query","description":"Policy guiding visibility and actions performed","allowEmptyValue":true,"schema":{"type":"string","description":"Policy guiding visibility and actions performed","example":"http://murazik.com/jace","format":"uri"},"example":"http://johnston.name/silas"},{"name":"Content-Type","in":"header","description":"Content-Type header, MUST be of application/json.","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"Content-Type header, MUST be of application/json.","example":"application/json"},"example":"application/json"}],"requestBody":{"description":"Aspect content","required":true,"content":{"application/json":{"schema":{"description":"Aspect content","example":"{\"$schema\": ...}"},"example":"{\"$schema\": ...}"}}},"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddMetaRT"},"example":{"record-id":"urn:ivcap:record.123e4567-e89b-12d3-a456-426614174000"}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:write"]}]}},"/1/metadata/{id}":{"delete":{"tags":["metadata"],"summary":"revoke metadata","description":"Retract a previously created statement.","operationId":"metadata#revoke","parameters":[{"name":"id","in":"path","description":"Record ID to restract","required":true,"schema":{"type":"string","description":"Record ID to restract","example":"urn:ivcap:record.53cbb715-4ffd-4158-9e55-5d0ae69605a4","format":"uri"},"example":"urn:ivcap:record.53cbb715-4ffd-4158-9e55-5d0ae69605a4"}],"responses":{"204":{"description":"No Content response."},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:write"]}]},"get":{"tags":["metadata"],"summary":"read metadata","description":"Show metadata by ID","operationId":"metadata#read","parameters":[{"name":"id","in":"path","description":"ID of metadata to show","required":true,"schema":{"type":"string","description":"ID of metadata to show","example":"urn:ivcap:metadata"},"example":"urn:ivcap:metadata"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataRecordRT"},"example":{"aspect":"{...}","asserter":"urn:ivcap:principal:123e4567-e89b-12d3-a456-426614174000","entity":"urn:blue:transect.1","id":"urn:ivcap:record:123e4567-e89b-12d3-a456-426614174000","links":[{"href":"https://api.ivcap.net/1/....","rel":"self","type":"application/json"},{"href":"https://api.ivcap.net/1/openapi/openapi3.json#/components/schemas/user","rel":"describedBy","type":"application/json"}],"revoker":"urn:ivcap:principal:123e4567-e89b-12d3-a456-426614174000","schema":"urn:blue:schema.image","valid-from":"1996-12-19T16:39:57-08:00","valid-to":"1996-12-19T16:39:57-08:00"}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"404":{"description":"not-found: Resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundT"},"example":{"id":"cayp:type:123e4567-e89b-12d3-a456-426614174000","message":"Resource 123...00 not found"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]},"put":{"tags":["metadata"],"summary":"update_record metadata","description":"Revoke this record and create a new one with the information provided.\n\t\t\tFor any field not provided, the value from the current record is used.","operationId":"metadata#update_record","parameters":[{"name":"entity-id","in":"query","description":"Entity to which attach metadata","allowEmptyValue":true,"schema":{"type":"string","description":"Entity to which attach metadata","example":"urn:url:....","format":"uri"},"example":"urn:url:...."},{"name":"schema","in":"query","description":"Schema of metadata","allowEmptyValue":true,"schema":{"type":"string","description":"Schema of metadata","example":"urn:url:....","format":"uri"},"example":"urn:url:...."},{"name":"policy-id","in":"query","description":"Policy guiding visibility and actions performed","allowEmptyValue":true,"schema":{"type":"string","description":"Policy guiding visibility and actions performed","example":"http://thielkoss.net/chad","format":"uri"},"example":"http://greenfelder.com/rey_keeling"},{"name":"id","in":"path","description":"Record ID to update","required":true,"schema":{"type":"string","description":"Record ID to update","example":"urn:ivcap:record.53cbb715-4ffd-4158-9e55-5d0ae69605a4","format":"uri"},"example":"urn:ivcap:record.53cbb715-4ffd-4158-9e55-5d0ae69605a4"},{"name":"Content-Type","in":"header","description":"Content-Type header, MUST be of application/json.","allowEmptyValue":true,"schema":{"type":"string","description":"Content-Type header, MUST be of application/json.","example":"application/json"},"example":"application/json"}],"requestBody":{"description":"Aspect content","required":true,"content":{"application/json":{"schema":{"description":"Aspect content","example":"{\"$schema\": ...}"},"example":"{\"$schema\": ...}"}}},"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddMetaRT"},"example":{"record-id":"urn:ivcap:record.123e4567-e89b-12d3-a456-426614174000"}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:write"]}]}},"/1/openapi/openapi3.json":{"get":{"tags":["openapi"],"summary":"Download /public/openapi3.json","description":"JSON document containing the API swagger definition","operationId":"openapi#/1/openapi/openapi3.json","responses":{"200":{"description":"File downloaded"}}}},"/1/orders":{"get":{"tags":["order"],"summary":"list order","description":"list orders","operationId":"order#list","parameters":[{"name":"limit","in":"query","description":"The 'limit' query option sets the maximum number of items\n\t\t\tto be included in the result.","allowEmptyValue":true,"schema":{"type":"integer","description":"The 'limit' query option sets the maximum number of items\n\t\t\tto be included in the result.","default":10,"example":10,"format":"int64","minimum":1,"maximum":50},"example":10},{"name":"page","in":"query","description":"The content of 'page' is returned in the 'links' part of a previous query and\n\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","allowEmptyValue":true,"schema":{"type":"string","description":"The content of 'page' is returned in the 'links' part of a previous query and\n\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","example":"gdsgQwhdgd"},"example":"gdsgQwhdgd"},{"name":"filter","in":"query","description":"The 'filter' system query option allows clients to filter a collection of\n\t\t\t\tresources that are addressed by a request URL. The expression specified with 'filter'\n\t\t\t\tis evaluated for each resource in the collection, and only items where the expression\n\t\t\t\tevaluates to true are included in the response.","allowEmptyValue":true,"schema":{"type":"string","description":"The 'filter' system query option allows clients to filter a collection of\n\t\t\t\tresources that are addressed by a request URL. The expression specified with 'filter'\n\t\t\t\tis evaluated for each resource in the collection, and only items where the expression\n\t\t\t\tevaluates to true are included in the response.","example":"name ~= 'Scott%'"},"example":"name ~= 'Scott%'"},{"name":"order-by","in":"query","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\tproperty EndsAt in descending order.","allowEmptyValue":true,"schema":{"type":"string","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\tproperty EndsAt in descending order.","example":"orderby=EndsAt"},"example":"orderby=EndsAt"},{"name":"order-desc","in":"query","description":"When set order result in descending order. Ascending order is the lt.","allowEmptyValue":true,"schema":{"type":"boolean","description":"When set order result in descending order. Ascending order is the lt.","default":true,"example":false},"example":true},{"name":"at-time","in":"query","description":"Return the state of the respective resources at that time [now]","allowEmptyValue":true,"schema":{"type":"string","description":"Return the state of the respective resources at that time [now]","example":"1996-12-19T16:39:57-08:00","format":"date-time"},"example":"1996-12-19T16:39:57-08:00"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderListRT"},"example":{"at-time":"1996-12-19T16:39:57-08:00","items":[{"account":"urn:ivcap:account:123e4567-e89b-12d3-a456-426614174000","finished-at":"1996-12-19T16:39:57-08:00","href":"https://api.ivcap.net/1/orders/...","id":"urn:ivcap:order:123e4567-e89b-12d3-a456-426614174000","name":"Fire risk for Lot2","ordered-at":"1996-12-19T16:39:57-08:00","service":"urn:ivcap:service:123e4567-e89b-12d3-a456-426614174000","started-at":"1996-12-19T16:39:57-08:00","status":"error"},{"account":"urn:ivcap:account:123e4567-e89b-12d3-a456-426614174000","finished-at":"1996-12-19T16:39:57-08:00","href":"https://api.ivcap.net/1/orders/...","id":"urn:ivcap:order:123e4567-e89b-12d3-a456-426614174000","name":"Fire risk for Lot2","ordered-at":"1996-12-19T16:39:57-08:00","service":"urn:ivcap:service:123e4567-e89b-12d3-a456-426614174000","started-at":"1996-12-19T16:39:57-08:00","status":"error"},{"account":"urn:ivcap:account:123e4567-e89b-12d3-a456-426614174000","finished-at":"1996-12-19T16:39:57-08:00","href":"https://api.ivcap.net/1/orders/...","id":"urn:ivcap:order:123e4567-e89b-12d3-a456-426614174000","name":"Fire risk for Lot2","ordered-at":"1996-12-19T16:39:57-08:00","service":"urn:ivcap:service:123e4567-e89b-12d3-a456-426614174000","started-at":"1996-12-19T16:39:57-08:00","status":"error"}],"links":[{"href":"https://api.ivcap.net/1/....","rel":"self","type":"application/json"},{"href":"https://api.ivcap.net/1/....","rel":"first","type":"application/json"},{"href":"https://api.ivcap.net/1/....","rel":"next","type":"application/json"},{"href":"https://api.ivcap.net/1/openapi/openapi3.json#/components/schemas/user","rel":"describedBy","type":"application/openapi3+json"}]}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]},"post":{"tags":["order"],"summary":"create order","description":"Create a new orders and return its status.","operationId":"order#create","requestBody":{"description":"New orders description","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderRequestT"},"example":{"name":"Fire risk for Lot2","parameters":[{"name":"region","value":"Upper Valley"},{"name":"threshold","value":"10"}],"policy":"urn:ivcap:policy:123e4567-e89b-12d3-a456-426614174000","service":"urn:ivcap:service:123e4567-e89b-12d3-a456-426614174000","tags":["tag1","tag2"]}}}},"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderStatusRT"},"example":{"account":"urn:ivcap:account:123e4567-e89b-12d3-a456-426614174000","finished-at":"1996-12-19T16:39:57-08:00","id":"urn:ivcap:order:123e4567-e89b-12d3-a456-426614174000","links":[{"href":"https://api.ivcap.net/1/....","rel":"self","type":"application/json"},{"href":"https://api.ivcap.net/1/openapi/openapi3.json#/components/schemas/user","rel":"describedBy","type":"application/json"}],"name":"Fire risk for Lot2","ordered-at":"1996-12-19T16:39:57-08:00","parameters":[{"name":"region","value":"Upper Valley"},{"name":"threshold","value":"10"}],"products":{"items":[{"data-href":"https:/.../1/artifacts/0000-00001220/blob","href":"https:/.../1/artifacts/0000-00001220","mime-type":"image/geo+tiff","name":"fire risk map","size":1234963}],"links":[{"href":"https://api.ivcap.net/1/....","rel":"next"}]},"service":"urn:ivcap:service:123e4567-e89b-12d3-a456-426614174000","started-at":"1996-12-19T16:39:57-08:00","status":"error","tags":["tag1","tag2"]}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"404":{"description":"not-found: Resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundT"},"example":{"id":"cayp:type:123e4567-e89b-12d3-a456-426614174000","message":"Resource 123...00 not found"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:write"]}]}},"/1/orders/{id}":{"get":{"tags":["order"],"summary":"read order","description":"Show orders by ID","operationId":"order#read","parameters":[{"name":"id","in":"path","description":"ID of orders to show","required":true,"schema":{"type":"string","description":"ID of orders to show","example":"urn:ivcap:orders"},"example":"urn:ivcap:orders"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderStatusRT"},"example":{"account":"urn:ivcap:account:123e4567-e89b-12d3-a456-426614174000","finished-at":"1996-12-19T16:39:57-08:00","id":"urn:ivcap:order:123e4567-e89b-12d3-a456-426614174000","links":[{"href":"https://api.ivcap.net/1/....","rel":"self","type":"application/json"},{"href":"https://api.ivcap.net/1/openapi/openapi3.json#/components/schemas/user","rel":"describedBy","type":"application/json"}],"name":"Fire risk for Lot2","ordered-at":"1996-12-19T16:39:57-08:00","parameters":[{"name":"region","value":"Upper Valley"},{"name":"threshold","value":"10"}],"products":{"items":[{"data-href":"https:/.../1/artifacts/0000-00001220/blob","href":"https:/.../1/artifacts/0000-00001220","mime-type":"image/geo+tiff","name":"fire risk map","size":1234963}],"links":[{"href":"https://api.ivcap.net/1/....","rel":"next"}]},"service":"urn:ivcap:service:123e4567-e89b-12d3-a456-426614174000","started-at":"1996-12-19T16:39:57-08:00","status":"pending","tags":["tag1","tag2"]}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"404":{"description":"not-found: Resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundT"},"example":{"id":"cayp:type:123e4567-e89b-12d3-a456-426614174000","message":"Resource 123...00 not found"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]}},"/1/orders/{orderID}/logs":{"get":{"tags":["order"],"summary":"logs order","description":"download order logs","operationId":"order#logs","parameters":[{"name":"orderID","in":"path","description":"Reference to order requested","required":true,"schema":{"type":"string","description":"Reference to order requested","example":"urn:ivcap:order:123e4567-e89b-12d3-a456-426614174000","format":"uri"},"example":"urn:ivcap:order:123e4567-e89b-12d3-a456-426614174000"},{"name":"from","in":"query","description":"From unix time, seconds since 1970-01-01","allowEmptyValue":true,"schema":{"type":"integer","description":"From unix time, seconds since 1970-01-01","example":1257894000,"format":"int64"},"example":1257894000},{"name":"to","in":"query","description":"To unix time, seconds since 1970-01-01","allowEmptyValue":true,"schema":{"type":"integer","description":"To unix time, seconds since 1970-01-01","example":1257894000,"format":"int64"},"example":1257894000}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised","content":{"application/json":{"schema":{"type":"string","format":"binary"}}}},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"404":{"description":"not-found: Resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundT"},"example":{"id":"cayp:type:123e4567-e89b-12d3-a456-426614174000","message":"Resource 123...00 not found"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available","content":{"application/json":{"schema":{"type":"string","format":"binary"}}}}},"security":[{"jwt_header_Authorization":["consumer:read"]}]}},"/1/orders/{orderID}/metadata":{"get":{"tags":["order"],"summary":"metadata order","description":"list metadata created by an order","operationId":"order#metadata","parameters":[{"name":"orderID","in":"path","description":"Reference to order requested","required":true,"schema":{"type":"string","description":"Reference to order requested","example":"urn:ivcap:order:123e4567-e89b-12d3-a456-426614174000"},"example":"urn:ivcap:order:123e4567-e89b-12d3-a456-426614174000"},{"name":"order-by","in":"query","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\tproperty EndsAt in descending order.","allowEmptyValue":true,"schema":{"type":"string","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\tproperty EndsAt in descending order.","example":"orderby=EndsAt"},"example":"orderby=EndsAt"},{"name":"order-desc","in":"query","description":"When set order result in descending order. Ascending order is the lt.","allowEmptyValue":true,"schema":{"type":"boolean","description":"When set order result in descending order. Ascending order is the lt.","default":true,"example":false},"example":false},{"name":"limit","in":"query","description":"The 'limit' query option sets the maximum number of items\n\t\t\tto be included in the result.","allowEmptyValue":true,"schema":{"type":"integer","description":"The 'limit' query option sets the maximum number of items\n\t\t\tto be included in the result.","default":10,"example":10,"format":"int64","minimum":1,"maximum":50},"example":10},{"name":"page","in":"query","description":"The content of 'page' is returned in the 'links' part of a previous query and\n\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","allowEmptyValue":true,"schema":{"type":"string","description":"The content of 'page' is returned in the 'links' part of a previous query and\n\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","example":"gdsgQwhdgd"},"example":"gdsgQwhdgd"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartialMetaListT"},"example":{"items":[{"data-href":"https:/.../1/artifacts/0000-00001220/blob","href":"https:/.../1/artifacts/0000-00001220","mime-type":"image/geo+tiff","name":"fire risk map","size":1234963}],"links":[{"href":"https://api.ivcap.net/1/....","rel":"next"}]}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"404":{"description":"not-found: Resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundT"},"example":{"id":"cayp:type:123e4567-e89b-12d3-a456-426614174000","message":"Resource 123...00 not found"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]}},"/1/orders/{orderID}/products":{"get":{"tags":["order"],"summary":"products order","description":"list products created by an order","operationId":"order#products","parameters":[{"name":"orderID","in":"path","description":"Reference to order requested","required":true,"schema":{"type":"string","description":"Reference to order requested","example":"urn:ivcap:order:123e4567-e89b-12d3-a456-426614174000"},"example":"urn:ivcap:order:123e4567-e89b-12d3-a456-426614174000"},{"name":"order-by","in":"query","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\tproperty EndsAt in descending order.","allowEmptyValue":true,"schema":{"type":"string","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\tproperty EndsAt in descending order.","example":"orderby=EndsAt"},"example":"orderby=EndsAt"},{"name":"order-desc","in":"query","description":"When set order result in descending order. Ascending order is the lt.","allowEmptyValue":true,"schema":{"type":"boolean","description":"When set order result in descending order. Ascending order is the lt.","default":true,"example":false},"example":true},{"name":"limit","in":"query","description":"The 'limit' query option sets the maximum number of items\n\t\t\tto be included in the result.","allowEmptyValue":true,"schema":{"type":"integer","description":"The 'limit' query option sets the maximum number of items\n\t\t\tto be included in the result.","default":10,"example":10,"format":"int64","minimum":1,"maximum":50},"example":10},{"name":"page","in":"query","description":"The content of 'page' is returned in the 'links' part of a previous query and\n\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","allowEmptyValue":true,"schema":{"type":"string","description":"The content of 'page' is returned in the 'links' part of a previous query and\n\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","example":"gdsgQwhdgd"},"example":"gdsgQwhdgd"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartialProductListT"},"example":{"items":[{"data-href":"https:/.../1/artifacts/0000-00001220/blob","href":"https:/.../1/artifacts/0000-00001220","mime-type":"image/geo+tiff","name":"fire risk map","size":1234963}],"links":[{"href":"https://api.ivcap.net/1/....","rel":"next"}]}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"404":{"description":"not-found: Resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundT"},"example":{"id":"cayp:type:123e4567-e89b-12d3-a456-426614174000","message":"Resource 123...00 not found"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]}},"/1/orders/{orderID}/top":{"get":{"tags":["order"],"summary":"top order","description":"top order resources","operationId":"order#top","parameters":[{"name":"orderID","in":"path","description":"Reference to order requested","required":true,"schema":{"type":"string","description":"Reference to order requested","example":"urn:ivcap:order:123e4567-e89b-12d3-a456-426614174000","format":"uri"},"example":"urn:ivcap:order:123e4567-e89b-12d3-a456-426614174000"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrderTopResultItemCollection"},"example":[{"container":"Qui quos.","cpu":"Quia qui dolor assumenda ad sed.","ephemeral-storage":"Voluptas est.","memory":"Repellendus et.","storage":"Ipsa velit nobis sapiente."},{"container":"Qui quos.","cpu":"Quia qui dolor assumenda ad sed.","ephemeral-storage":"Voluptas est.","memory":"Repellendus et.","storage":"Ipsa velit nobis sapiente."},{"container":"Qui quos.","cpu":"Quia qui dolor assumenda ad sed.","ephemeral-storage":"Voluptas est.","memory":"Repellendus et.","storage":"Ipsa velit nobis sapiente."},{"container":"Qui quos.","cpu":"Quia qui dolor assumenda ad sed.","ephemeral-storage":"Voluptas est.","memory":"Repellendus et.","storage":"Ipsa velit nobis sapiente."}]}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"404":{"description":"not-found: Resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundT"},"example":{"id":"cayp:type:123e4567-e89b-12d3-a456-426614174000","message":"Resource 123...00 not found"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]}},"/1/packages/list":{"get":{"tags":["package"],"summary":"list package","description":"list ivcap service's docker images under account","operationId":"package#list","parameters":[{"name":"tag","in":"query","description":"docker image tag","allowEmptyValue":true,"schema":{"type":"string","description":"docker image tag","example":"test_app:1.0.1"},"example":"test_app:1.0.1"},{"name":"page","in":"query","description":"page url to list","allowEmptyValue":true,"schema":{"type":"string","description":"page url to list","example":"http://"},"example":"http://"},{"name":"limit","in":"query","description":"maximum number of repository items, which can have multiple tags","allowEmptyValue":true,"schema":{"type":"integer","description":"maximum number of repository items, which can have multiple tags","example":10,"format":"int64"},"example":10}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListResponseBody"},"example":{"items":["Eum accusamus.","Qui maxime magnam blanditiis."],"links":[{"href":"https://api.ivcap.net/1/....","rel":"self","type":"application/json"},{"href":"https://api.ivcap.net/1/....","rel":"first","type":"application/json"},{"href":"https://api.ivcap.net/1/....","rel":"next","type":"application/json"},{"href":"https://api.ivcap.net/1/openapi/openapi3.json#/components/schemas/user","rel":"describedBy","type":"application/openapi3+json"}]}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]}},"/1/packages/remove":{"delete":{"tags":["package"],"summary":"remove package","description":"remove ivcap service's docker image","operationId":"package#remove","parameters":[{"name":"tag","in":"query","description":"docker image tag","allowEmptyValue":true,"required":true,"schema":{"type":"string","description":"docker image tag","example":"test_app:1.0.1"},"example":"test_app:1.0.1"}],"responses":{"204":{"description":"No Content response."},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:write"]}]}},"/1/project":{"get":{"tags":["project"],"summary":"List User's Projects","description":"list project","operationId":"project#list","parameters":[{"name":"limit","in":"query","description":"The 'limit' query option sets the maximum number of items\n\t\t\tto be included in the result.","allowEmptyValue":true,"schema":{"type":"integer","description":"The 'limit' query option sets the maximum number of items\n\t\t\tto be included in the result.","default":10,"example":10,"format":"int64","minimum":1,"maximum":50},"example":10},{"name":"page","in":"query","description":"The content of 'page' is returned in the 'links' part of a previous query and\n\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","allowEmptyValue":true,"schema":{"type":"string","description":"The content of 'page' is returned in the 'links' part of a previous query and\n\t\t\twill when set, ALL other parameters, except for 'limit' are ignored.","example":"gdsgQwhdgd"},"example":"gdsgQwhdgd"},{"name":"filter","in":"query","description":"The 'filter' system query option allows clients to filter a collection of\n\t\t\t\tresources that are addressed by a request URL. The expression specified with 'filter'\n\t\t\t\tis evaluated for each resource in the collection, and only items where the expression\n\t\t\t\tevaluates to true are included in the response.","allowEmptyValue":true,"schema":{"type":"string","description":"The 'filter' system query option allows clients to filter a collection of\n\t\t\t\tresources that are addressed by a request URL. The expression specified with 'filter'\n\t\t\t\tis evaluated for each resource in the collection, and only items where the expression\n\t\t\t\tevaluates to true are included in the response.","example":"name ~= 'Scott%'"},"example":"name ~= 'Scott%'"},{"name":"order-by","in":"query","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\tproperty EndsAt in descending order.","allowEmptyValue":true,"schema":{"type":"string","description":"The 'orderby' query option allows clients to request resources in either\n\t\t\tascending order using asc or descending order using desc. If asc or desc not specified,\n\t\t\tthen the resources will be ordered in ascending order. The request below orders Trips on\n\t\t\tproperty EndsAt in descending order.","example":"orderby=EndsAt"},"example":"orderby=EndsAt"},{"name":"order-desc","in":"query","description":"When set order result in descending order. Ascending order is the lt.","allowEmptyValue":true,"schema":{"type":"boolean","description":"When set order result in descending order. Ascending order is the lt.","default":true,"example":true},"example":false},{"name":"at-time","in":"query","description":"Return the state of the respective resources at that time [now]","allowEmptyValue":true,"schema":{"type":"string","description":"Return the state of the respective resources at that time [now]","example":"1996-12-19T16:39:57-08:00","format":"date-time"},"example":"1996-12-19T16:39:57-08:00"}],"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectListRT"},"example":{"at-time":"1996-12-19T16:39:57-08:00","page":"Eos numquam repudiandae est laudantium.","projects":[{"account":"urn:ivcap:account:146d4ac9-244a-4aee-aa32-a28f4b91e60d","at-time":"1996-12-19T16:39:57-08:00","created_at":"2023-03-17T04:57:00Z","modified_at":"2023-03-17T04:57:00Z","name":"My project name","parent":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1","properties":{"details":"Created to investigate [objective]"},"role":"Member","status":"disabled","urn":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1"},{"account":"urn:ivcap:account:146d4ac9-244a-4aee-aa32-a28f4b91e60d","at-time":"1996-12-19T16:39:57-08:00","created_at":"2023-03-17T04:57:00Z","modified_at":"2023-03-17T04:57:00Z","name":"My project name","parent":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1","properties":{"details":"Created to investigate [objective]"},"role":"Member","status":"disabled","urn":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1"},{"account":"urn:ivcap:account:146d4ac9-244a-4aee-aa32-a28f4b91e60d","at-time":"1996-12-19T16:39:57-08:00","created_at":"2023-03-17T04:57:00Z","modified_at":"2023-03-17T04:57:00Z","name":"My project name","parent":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1","properties":{"details":"Created to investigate [objective]"},"role":"Member","status":"disabled","urn":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1"},{"account":"urn:ivcap:account:146d4ac9-244a-4aee-aa32-a28f4b91e60d","at-time":"1996-12-19T16:39:57-08:00","created_at":"2023-03-17T04:57:00Z","modified_at":"2023-03-17T04:57:00Z","name":"My project name","parent":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1","properties":{"details":"Created to investigate [objective]"},"role":"Member","status":"disabled","urn":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1"}]}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]},"post":{"tags":["project"],"summary":"Create a Project","description":"Create a new project and return its status.","operationId":"project#CreateProject","requestBody":{"description":"New project description","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectCreateRequest"},"example":{"account":"urn:ivcap:account:146d4ac9-244a-4aee-aa32-a28f4b91e60d","name":"My project name","parent":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1","properties":{"details":"Created to investigate [objective]"},"urn":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1"}}}},"responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectStatusRT"},"example":{"account":"urn:ivcap:account:146d4ac9-244a-4aee-aa32-a28f4b91e60d","at-time":"1996-12-19T16:39:57-08:00","created_at":"2023-03-17T04:57:00Z","modified_at":"2023-03-17T04:57:00Z","name":"My project name","parent":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1","properties":{"details":"Created to investigate [objective]"},"role":"Member","status":"disabled","urn":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1"}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:write"]}]}},"/1/project/default":{"get":{"tags":["project"],"summary":"Get User's Default Project","description":"Retrieves the user's current default project","operationId":"project#DefaultProject","responses":{"200":{"description":"OK response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectStatusRT"},"example":{"account":"urn:ivcap:account:146d4ac9-244a-4aee-aa32-a28f4b91e60d","at-time":"1996-12-19T16:39:57-08:00","created_at":"2023-03-17T04:57:00Z","modified_at":"2023-03-17T04:57:00Z","name":"My project name","parent":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1","properties":{"details":"Created to investigate [objective]"},"role":"Member","status":"unknown","urn":"urn:ivcap:project:8a82775b-27d9-4635-b006-7ef5553656d1"}}}},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"404":{"description":"not-found: Resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundT"},"example":{"id":"cayp:type:123e4567-e89b-12d3-a456-426614174000","message":"Resource 123...00 not found"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:read"]}]},"put":{"tags":["project"],"summary":"Set User's Default Project","description":"Sets the default project of a user.","operationId":"project#SetDefaultProject","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetDefaultProjectRequestBody"},"example":{"project_urn":"urn:ivcap:project:59c76bc8-721b-409d-8a32-6d560680e89f","user_urn":"urn:ivcap:user:0b755f67-4d03-4d82-b208-4d6a0ae16468"}}}},"responses":{"204":{"description":"No Content response."},"400":{"description":"bad-request: Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequestT"},"example":{"message":"Having problem with some of the supplied information"}}}},"401":{"description":"not-authorized: Access to this resource is not authorised"},"403":{"description":"invalid-scopes: Not authorised to access this scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidScopesT"},"example":{"id":"123e4567-e89b-12d3-a456-426614174000","message":"Not authorized to perform this action"}}}},"404":{"description":"not-found: Resource cannot be found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResourceNotFoundT"},"example":{"id":"cayp:type:123e4567-e89b-12d3-a456-426614174000","message":"Resource 123...00 not found"}}}},"422":{"description":"invalid-parameter: Request contained semantically wrong parameter value","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvalidParameterT"},"example":{"message":"cannot parse date","name":"timestamp","value":"today"}}}},"501":{"description":"not-implemented: Method not implemented","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotImplementedT"},"example":{"message":"Method 'x' not implemented"}}}},"503":{"description":"not-available: Service currently not available"}},"security":[{"jwt_header_Authorization":["consumer:write"]}]}},"/1/project/{id}":{"delete":{"tags":["project"],"summary":"Delete a Project","description":"Delete an existing project.","operationId":"project#delete","parameters":[{"name":"id","in":"path","description":"ID of project to update","required":true,"schema":{"type":"string","description":"ID of project to update","example":"Nihil dolor."},"example":"Voluptas omnis repellendus nostrum."}],"responses":{"204":{"description":"No Content response."},"400":{"description":"bad-reque
[...]
